/* div grises */

.contenere {
    display:  inline-block;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 10%;
}

/* Video */

.video {
    margin: 15px;
}

/* Images sur accueil et activite */

.image {
    width: 500px;
    height: auto;
    margin: 20px;
}

/* Titres */

.titre {
    margin-top: 15px;
    text-align: center;
}

/* Résumé */

.resume-box {
    margin-bottom: 20px;
}

.listes {
    list-style: none;
}

.sous-titre {
    margin-left: 5%;
}

.image_resume {
    margin-bottom: 2%;
    margin-top: 15px;
    margin-left: 2%;
}

/* Activite */

.padding {
    padding: 20px;
}

.download-button {
    margin-top: 15px;
    margin-bottom: 20px;
}