/* div grises */

.contenere {
    display:  inline-block;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 10%;
}

/* Video */

.video {
    margin: 15px;
}

/* Images sur accueil et activite */

.image {
    width: 500px;
    height: auto;
    margin: 20px;
}

/* Titres et footer */

.titre {
    margin-top: 15px;
    text-align: center;
}

.autoring_div {
    margin-left: 30%;
}

.autoring {
    display: flex;
}

.autors {
    margin: 5px;
}

.hr {
    width: 90%;
    margin-left: 5%;
}

/* Résumé */

.resume-box {
    margin-bottom: 20px;
}

.listes {
    list-style: none;
}

.sous-titre {
    margin-left: 5%;
}

.image_resume {
    margin-bottom: 2%;
    margin-top: 15px;
    margin-left: 2%;
}

.codespan {
    color: crimson;
    background-color: #dfe4ea;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}

.codespan:hover {
    color: crimson;
}

/* Activite */

.padding {
    padding: 20px;
}

.div-download-button {
    margin-top: 15px;
    margin-bottom: 20px;
}

.download-button {
    background-color: #F8F9FA;
    border: 2px solid #F8F9FA;
    border-radius: 20px;
    padding: 15px;
    transition-duration: 0.4s;
}

.download-button:hover {
    background-color: #FFF
}
/* Liens */

.lien {
    color: #e67e22;
    text-decoration: none;
}

.lien:hover {
    color: #e67e22;
}
